<div class="inner cover">
  <h1 class="cover-heading">手相の写真をアップロードしてください</h1>
  <p class="lead">結果が返ってくるまでに、時間がかかります。<br>ご了承ください。</p>
  <%= form_for(current_user, html: { method: :patch }) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.file_field :picture %>
    <%= f.submit '確認', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
