<div class="btn-group" data-toggle="buttons">
  <% list.each_with_index do |info,i| %>
    <label class="btn <%= color %> btn-lg" id=<%= name %>>
      <input class="btn <%= color %> btn-lg" name=<%= name %> type='radio' value=<%= enum[i] %>>
      <%= info %>
    </label>
  <% end %>
</div>
<br>
